- unless @page.new_record?
  .draft
    %h3= "#{@page.parts[@index].name} draft"
    - fields_for :draft do |d|
      %p= d.text_area :content, :value => @page.parts[@index].draft.content, :class => 'textarea', :id => "part_#{@index}_draft", :name => "part[#{@index}][draft]"